.download {
  padding: 50px 20px;
  text-align: center;
}

.download__button {
  width: 150px;
  margin: auto;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  border: 3px solid white;
  border-radius: 25px;
}

.download__list {
  display: flex;
  justify-content: center;
}

.download__icon {
  margin-right: 10px;
}

.download__description {
  font-weight: lighter;
  color: @default-color;
}
