.about-us {
  text-align: center;
  background-color: @default-color;
}

.about-us__text {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  color: @midnight-color;
  @media (min-width: 660px) {
    font-size: 40px;
  }
  @media (min-width: 960px) {
    font-size: 50px;
  }
}
