.main-nav {
  margin: 0 auto;
  text-align: center;
  @media (min-width: 960px) {
    width: 920px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .3);
  }
}

.main-nav--closed {
  background-color: rgba(0, 0, 0, .3);
}

.main-nav--opened {
  background-color: @midnight-color;
}

.main-nav__logo {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding-top: 21.5px;
  padding-right: 20px;
  padding-bottom: 17px;
  padding-left: 20px;
  @media (min-width: 660px) {
    width: 620px;
    padding-top: 43.5px;
    padding-bottom: 34px;
  }
  @media (min-width: 960px) {
    margin: 0;
    width: auto;
  }
}

.main-nav__burger {
  @media (min-width: 960px) {
    display: none;
  }
}

.main-nav__burger--open {
  display: none;
}

.main-nav__list {
  @media (min-width: 960px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
  }
}

.main-nav__item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  @media (min-width: 960px) {
    border: none;
  }
}

.main-nav__item a {
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  line-height: 32px;
}

.main-nav__top-menu {
  border-bottom: 1px solid #000000;
  @media (min-width: 960px) {
    border: none;
  }
}
