.main-nav {
  margin: 0 auto;
  width: 320px;
  text-align: center;
  background-color: rgba(0, 0, 0, .3);
  @media (min-width: 660px) {
    width: 660px;
  }
  @media (min-width: 960px) {
    width: 920px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__logo {
  padding: 20px 20px;
  text-align: left;
}

.main-nav__list {
  @media (min-width: 960px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 620px;
  }
}

.main-nav__item {
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
  @media (min-width: 960px) {
    border: none;
  }
}

.main-nav__item a {
  font-size: 18px;
  color: white;
  line-height: 32px;
}
