.page-header {
  outline: 1px solid green;
  width: 100%;
  min-height: auto;
  background-color: @midnight-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  @media (min-width: 660px) {
    min-height: 983px;
  }
  @media (min-width: 960px) {
    min-height: 853px;
  }
}

.page-header--opened {
  background-position: 50% 48%;
}

.page-header--not-index {
  min-height: 0;
  background-position: 50% 256px;
}
